@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;

  --color-primary: #94ccff;
  --color-primary-container: #00192b;
  --color-on-primary: #003352;
  --color-secondary: #66dd8b;
  --color-secondary-container: #25a55a;
  --color-tertiary: #ffba38;
  --color-tertiary-container: #231500;
  --color-background: #0b1420;
  --color-surface: #0b1420;
  --color-surface-container: #17202d;
  --color-surface-container-low: #131c29;
  --color-surface-container-high: #222a38;
  --color-surface-container-highest: #2c3543;
  --color-surface-bright: #313a48;
  --color-on-surface: #dae3f5;
  --color-on-surface-variant: #c6c6cd;
  --color-outline: #909097;
  --color-outline-variant: #45464d;
}

@layer utilities {
  .luminous-gradient {
    background: linear-gradient(135deg, #94ccff 0%, #00192b 100%);
  }
  .glass-panel {
    backdrop-filter: blur(20px);
    background: rgba(44, 53, 67, 0.6);
  }
}

